@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "My Profile";
}

<div class="row my-4">
    <div class="col-12 col-xl-8">
        <div class="card card-body shadow-sm mb-4">
            <h2 class="h5 mb-4">Thông tin chung</h2>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="first_name">Tên</label>
                            <input class="form-control" id="first_name" type="text" placeholder="Enter your first name" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div>
                            <label for="last_name">Họ</label>
                            <input class="form-control" id="last_name" type="text" placeholder="Also your last name" required>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <label for="birthday">Ngày sinh</label>
                        <div class="input-group">
                            <span class="input-group-text"><span class="far fa-calendar-alt"></span></span>
                            <input data-datepicker="" class="form-control" id="birthday" type="text" placeholder="dd/mm/yyyy" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="gender">Giới tính</label>
                        <select class="form-select mb-0" id="gender" aria-label="Gender select example">
                            <option selected>Gender</option>
                            <option value="1">Nữ</option>
                            <option value="2">Name</option>
                            <option value="0">Khác</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" id="email" type="email" placeholder="name@gmail.com" required>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" type="number" placeholder="03********" required>
                        </div>
                    </div>
                </div>
                <h2 class="h5 my-4">Location</h2>
                <div class="row">
                    <div class="col-sm-9 mb-3">
                        <div class="form-group">
                            <label for="address">Địa chỉ</label>
                            <input class="form-control" id="address" type="text" placeholder="Enter your home address" required>
                        </div>
                    </div>
                    <div class="col-sm-3 mb-3">
                        <div class="form-group">
                            <label for="number">Số</label>
                            <input class="form-control" id="number" type="number" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3">
                        <div class="form-group">
                            <label for="city">Thành phố</label>
                            <input class="form-control" id="city" type="text" placeholder="Thành phố" required>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="zip">ZIP</label>
                            <input class="form-control" id="zip" type="tel" placeholder="ZIP" required>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-dark">Lưu</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 col-xl-4">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="card shadow-sm text-center p-0">
                    <div class="profile-cover rounded-top" data-background="../../assets/img/team/profile-picture-3.jpg"></div>
                    <div class="card-body pb-5">
                        <img src="../assets/img/team/profile-picture-3.jpg" class="user-avatar large-avatar rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                        <h4 class="h3">La Văn Phương</h4>
                        <h5 class="fw-normal">Sinh viên năm 4</h5>
                        <p class="text-gray mb-4">Số 8, Tôn Thất Thuyết, Mỹ Đình 2, Nam Từ Liêm, TP.Hà Nội</p>
                        @*<a class="btn btn-sm btn-dark me-2" href="#"><span class="fas fa-user-plus me-1"></span> Connect</a>
                        <a class="btn btn-sm btn-secondary" href="#">Send Message</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>